.grp1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.grp2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
}

.grp3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}