table {
    width: 100%;

}

.div-table {
    overflow: auto;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.width-90 {
    width: 90%;
}

#card {
    margin-bottom: 2em;
}uu

.mat-row:hover {
    background-color: rgba(0,0,0,0.1);
}
